<div class="row description">
  <div class="col-sm-2">
    <img src="assets/opacity-zero.jpg" alt="product image" />
  </div>
  <div class="col-sm-6">
    <p class="album-name">KRIOpacity Zero</p>
    <p class="band-name">The Prependers</p>
    <p class="album-release-date">September 25, 2014</p>
  </div>

  <form class="form-horizontal" >
  <fieldset>

  <!-- Form Name -->
  <legend>Form Name</legend>

  <!-- Prepended text-->
  <div class="control-group">
    <label class="control-label" for="prependedtext-0">Prepended Text</label>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on">prepend</span>
        <input id="prependedtext-0" name="prependedtext-0" class="input-xlarge" placeholder="placeholder" type="text">
      </div>
      <p class="help-block">help</p>
    </div>
  </div>

  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="textinput-0">Text Input</label>
    <div class="controls">
      <input id="textinput-0" name="textinput-0" type="text" placeholder="placeholder" class="input-xlarge">
      <p class="help-block">help</p>
    </div>
  </div>

  </fieldset>
  </form>

</div>
